.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu {
    overflow: hidden;
    background-color: #ffffff;
}

.head_menu{
    width: 100%;
    height: 90px;
    border: 4px solid black;
    margin-bottom: 30px;
    margin-top: 10px;
}

.menu_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu_item1 {
    width: 30%;
    height: 500px;
    position: relative;
    border: 4px solid black;
    
}

.red_box {
    top: 25px;
    left: 25px;
    position: absolute;
    width: 30%;
    height: 70%;
    border: 2px solid red;
    font-size: 20px;
    color:black;
    font-weight: 700;
}

.menu_item2 {
    display: flex;
    justify-content: space-between;
    width: 60%;
    flex-wrap: wrap;
    border: 4px solid black;
}

.navigation {
    position: relative;
    left: 500px;
    width: 300px;
}